body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: Copperplate, fantasy;
    font-size: larger;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    font-family: Copperplate, fantasy;
}

nav {
  background: rgb(94, 237, 206);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

.index-total {
  text-align: center;
}

.index-table {
  display: grid;
  grid-column: 1/4;
  text-align: center;
  border-bottom: solid .5px lightgray;
}

.index-date {
  grid-column: 1/2;
}

.index-name {
  grid-column: 2/3;
}

.index-amount {
  grid-column: 3/4;
}

.new-form {
  text-align: center;
}

.new-title {
  text-align: center;
  font-size: 50px;
}

input {
  width: 30%;
  padding: 8px 20px;
  margin: 8px 30px;
  box-sizing: border-box;
  border-radius: 8%;
}

label {
  margin: 0px 30px;
}

.create-new {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system,sans-serif; */
  font-family: Copperplate, fantasy;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0px 30px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.create-new:hover {
  background-color: #29ffd1;
  box-shadow: #14ffa1 0 -6px 8px inset;
  transform: scale(1.125);
}

.create-new:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .create-new {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

.nav-link:visited {
  text-decoration: none;
}

.nav-link:hover {
  /* background-color: #000000; */
  color: white;
}

.new-transaction {
  border: none;
  background-color: white;
  /* color: black; */
  padding: 10px 20px;
  font-family: Copperplate, fantasy;
  font-size: 16px;
  border-radius: 50%;
}

.new-transaction:hover {
  background-color: #000000;
  /* color: white; */
}